html, body, #root, .App {
  height: 100%;
}

.content {
  align-self: stretch;
  flex: 1
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(238, 247, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  padding: 0.5em;
  font-size: 1em;
  border: 2px solid #bbb;
  border-radius: 0.5em;
  background-color: #eee;
}

button.add-remove {
  width: 3em;
}

button.select-list {
  flex: 1;
}

.button-list {
  display: flex;
  flex-direction: column;
}

.group-list-item {
  display: flex;
}


input {
  -webkit-appearance: none;
  border: none;
  border: 2px solid #aaa;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  flex: 1;
}

.column-content {
  background-color: #eee;
  margin: 0.5em;
  padding: 0.5em;
  align-self: stretch;
  flex: 1;

  border-radius: 1em;
}
